/* reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1468581264429-2548ef9eb732?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
}

body {
  overflow-y: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Fira Code', monospace, 'Noto Sans TC', sans-serif;
}

ul,
li {
  list-style-type: none;
}

a {
  cursor: pointer;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
/* reset end */

.project-title {
  padding: 1rem 2rem;
  color: #fefefe;
}

.container {
  position: relative;
  min-width: 376px;
  height: 100vh;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.delete-cards-btn,
.reset-items-btn {
  text-align: center;
}

.date-picker {
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#litepicker {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  position: relative;
  width: 80%;
  background: #fefefe;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

#litepicker::after {
  content: '\f073';
  position: absolute;
  right: 20px;
  top: 10px;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
}

.action {
  margin: 0.5rem auto;
  text-align: center;
}

.action > button {
  padding: 0.5rem;
  border-radius: 10px;
  background: #fefefe;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.action > button:hover {
  color: red;
}

/* card */

.card-section {
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1rem 1.5rem;
}

.card-section::-webkit-scrollbar {
  display: none;
}

.card {
  min-height: 150px;
  border-radius: 1rem;
  background: rgba(254, 254, 254, 0.8);
}

.card-header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-action > button {
  margin: 0.5rem;
}

.card-action > button:hover {
  opacity: 0.5;
}

.card-body {
  padding: 1rem 0;
  height: 100%;
}

.dragging {
  border: 2px dashed #ccc;
}

.card-item {
  margin: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #fefefe;
}

.card-item:hover {
  opacity: 0.8;
  cursor: move;
}

.item-hide {
  opacity: 0.2;
}

.arrival-time {
  width: 5rem;
  text-align: center;
}

.category {
  padding: 0.5rem;
  width: 3rem;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  color: black;
}

.detail {
  flex: 1;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.delete-item-btn {
  margin: 0 1rem;
}

.delete-item-btn:hover {
  opacity: 0.5;
}
/* card end */

/* modal */
#modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.modal-item {
  margin-bottom: 1rem;
  width: 100%;
}

.modal-item > label {
  width: 100px;
}

#modal-overlay {
  z-index: 888;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.8;
}

.modal-title {
  margin: 0.5rem;
  text-align: center;
}

.modal-hide {
  display: none;
}

.modal-action > .hide {
  display: none;
}

#destination,
#budget,
#arrival-time {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}

#category {
  outline: 1px solid #e1f4ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.modal-action {
  display: flex;
  justify-content: end;
}

.modal-action button {
  margin: 0.5rem;
  padding: 6px 1rem;
  border: none;
  background: #2f98d4;
  border-radius: 6px;
  color: #fefefe;
  cursor: pointer;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.modal-action button:hover {
  opacity: 0.8;
}

#close-modal-btn {
  background: #fefefe;
  color: #000;
}

/* modal end */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #fefefe;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .card-section {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
  }
}

@media screen and (min-width: 900px) {
  .card-section {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }
}
